name: build-and-test

on: push

jobs:

  buildandtest:

    name: Build and test the program

    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      
      - name: Build
        run: |
          cd Lab2_1/
          make Lab2_1_Test 
          ./Lab2_1_Test
          cd ../Lab2_2  
          make Lab2_2_Test 
          ./Lab2_2_Test
          
